body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.Home{
    margin: 50px 0;
}
.main_home{
    display: flex;
}

.main-home1{

    width: 40%;
    margin: auto 7%;

}
.main-home2{

    width: 40%;
    margin-left: 5%;
    float: right;

}
.home-h1{
    font-size: 60px;
    font-weight: 700;
    color: #575757;

}
span, .Skip{
    color: #ff7300;
}
.home-p{
    font-size: 20px;
    color: #575757;
    font-weight: 400;

}

a{
    text-decoration: none;
    padding: 20px 30px;
    background-image: linear-gradient(90deg, #ff7300, #FF1E1E);
    color: #ffffff;
    border-radius: 30px;

}
.About{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main-about{
    display: flex;

}
.main-about1 img{
    width: 80vh;
 
}
.about-h1{
    font-size: 40px;
    font-weight: 700;
    color: #575757;

}
.main-about2{
    margin: auto 7%;
}




.recipies-head{
    text-align: center;
    margin: 100px 0;
}
.recipies-h1{
    
    font-size: 40px;
    font-weight: 700;
    color: #575757;
}
.card{
    display: flex;
    justify-content: space-between;
    margin:2% 7% ;

}
.card img{
    width: 50%;
}
.foodcard-headline{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
.card-img{
    text-align: center;

}
.card1{
    width: 40%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.281) 10px 10px 30px ;
    padding: 50px 40px;
    border-radius: 30px;
}
.card2{
    width: 40%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.281) 10px 10px 30px ;
    padding: 50px 40px;
    border-radius: 30px;

}
.card-text{
text-align: center;
}

.count{
    margin-left:7%;
    margin-right:7%;


}

.count-item{
    margin-top:50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.281) 10px 10px 30px ;
    padding: 50px 40px;
    border-radius: 30px;
    text-align: center;
}

h3{
    
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
h5{
    
    font-size: 20px;
    font-weight: 500;
    color: #575757;
}

.footer{
    background-image: url(images/food/Project\ Cover4.png);
    background-position: center;
    background-repeat: no-repeat;
 
}
.footer-item{
    margin-top:50px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.281) 10px 10px 30px ;
    padding: 50px 40px;
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.952),rgba(19, 10, 0, 0.925)) ;

}

h4{
    font-size: 40px;
    font-weight: 700;
    color: #4b4b4b;
}
h6{
    
    font-size: 20px;
    font-weight: 500;
    color: #979797;
}
